html {
  background-color: #3B5998;
}
header {
  width: 100%;
  height: 148px;
  background-color: #FEFDFB;
  -webkit-box-shadow: 0px 22px 30px -9px rgba(0,0,0,1);
  -moz-box-shadow: 0px 22px 30px -9px rgba(0,0,0,1);
  box-shadow: 0px 22px 30px -9px rgba(0,0,0,1);

}

.capactity{

}

.flushBooklogo{
  width: 52%;
  /* position: relative; */
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.mainContainer {
  margin-left: 17px;
      width: 39%;
  float: left;
    background-color: #FEFDFB;
    height: 600px;
    margin-top: 32px;
    height: 323px;
    box-shadow: 0px 22px 30px -9px rgba(0,0,0,1);
}
.mapContainer{
    margin-left: 7%;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #FEFDFB;
    margin-top: 32px;
    height: 400px;
    box-shadow: 0px 22px 30px -9px rgba(0,0,0,1);
}

#map {
  height: 100%;
}

.mainContainer input {
  width: 95%;
  padding-top: 16px;
  margin-top: 23px;
  margin-left: 14px;
}
.ratingSystem {
color:#3B5998;
margin-left: 15px;
margin-top: 14px;
}

.rating {
  margin-left: 15px;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  float:left;
 color:#FFDF00	;
  /*display: inline-block;*/
  /*position: relative;*/
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
